<h1>Upload Transaction file</h1>

<div class="row">
        <div class="col-3">
                <input type="file" #file name="File Upload" id="txtFileUpload"  (change)="changeListener($event.target.files)" 
                accept=".csv, .xml" style="display: none;"/>
                <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
        </div>
</div>
<div class="row text-success" *ngIf="uploadSuccess">
        <div class="col text-success">Upload Success</div>
</div>
<div class="row text-danger" *ngFor="let message of errorMessages"><div class="col"><span>{{message}}</span></div></div>

